<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BotToken" value="Mjc3MDM4MzAxODc2MTkxMjMz.C3X7ig.KDpPQoueceT0-jKqM9kH71YBPeE" />
    <add key="LogLevel" value="Debug" />
    <add key="Prefix" value="!" />
    <add key="SetlXPath" value="C:\Users\Sezer\Documents\visual studio 2015\Projects\setlXBot\setlXBot\setlx\setlX.cmd" />
    <add key="LogFile" value="C:\Users\Sezer\Documents\visual studio 2015\Projects\setlXBot\setlXBot\setlxbot.log" />
    <add key="MessageMaxLength" value="1950" />
    <add key="StdOutErrCounter" value="25" />
    <add key="StdOutErrInterval" value="1000" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>